div {
  text-align: center;
  position: relative;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 75px;
  color: white;
}

body {
  background-color: #693F9B;
}

.openModal {
  font-size: 25px;
  width: 150px;
  background: none;
  margin: auto;
}


.modalBox {
  background-color: #ababab;
  opacity: .5;
  width: 100%;
  height: 100%;

}
.modalContent {
  background-color: black;
  color:white;
  z-index: 11}

.closeModal {
  border-radius: 10px;
}


.theModal {
  display:none;
}

.showing {
  display: block;
  }
