body {
  background-color: #693F9B;
}

textarea {
    display: block;
    margin: 10px;
}
.wrapper {
    border: 2px solid black;
    height: 250px;
    width: 250px;
    margin-left: 50px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 75px;
  color: white;
}
